@model Laja.Models.Course

@{
    ViewBag.Title = "Kurs Detaljer";
}

<h2>Detaljer för kurs @Model.Name</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dd>
            <h2>Dokument</h2>
            <table class="table">
                <tr class="alert-info">
                    <th>Namn</th>
                    <th>Epost</th>

                </tr>
                @foreach (var doc in Model.Documents)
                {
                    <tr>
                        <td><a href="@doc.Name" download>@doc.FileName.Substring(0, @doc.FileName.IndexOf('_'))</a></td>
                        <td>@doc.User.UserName</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>

    <dd>
        <h3>Moduler</h3>
        <table class="table">
            <tr class="alert-info">
                <th>Namn</th>
                <th>Start</th>
                <th>Slut</th>
            </tr>
            @foreach (var module in Model.Modules)
            {
                <tr>
                    <td>@Html.ActionLink(module.Name, "Details", "Modules", new { id = module.Id }, null)</td>                                            
                    <td>@Html.DisplayFor(model => module.StartDate)</td>
                    <td>@Html.DisplayFor(model => module.EndDate)</td>                   
                </tr>
            }
        </table>
    </dd>

</div>
<p>
    @Html.ActionLink("Skapa Modul", "Create", "Modules", new { @CourseId = Model.Id}, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


