@model Laja.Models.Module

@{
    ViewBag.Title = "Detaljer";
}

<h2>Detaljer</h2>

<div>
    <h4>Moduler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dd>
            <h2>Dokument</h2>
            <table class="table">
                <tr class="alert-info">
                    <th>Namn</th>
                    <th>Epost</th>

                </tr>
                @foreach (var doc in Model.Documents)
                {
                    <tr>
                        <td><a href="@doc.Name" download>@doc.FileName.Substring(0, @doc.FileName.IndexOf('_'))</a></td>
                        <td>@doc.User.UserName</td>
                    </tr>
                }
            </table>
        </dd>

        <dd>
            <h2>Aktiviteter</h2>
            <table class="table">
                <tr class="alert-info">
                    <th>Namn</th>
                    <th>Start</th>
                    <th>Slut</th>
                </tr>
                @foreach (var activity in Model.Activities)
                {
                    <tr>
                        <td>@Html.ActionLink(activity.Name, "Details", "Aktivities", new { id = activity.Id }, null)</td>
                        <td>@activity.StartDate</td>
                        <td>@activity.EndDate</td>

                    </tr>
                }
            </table>
        </dd>
        <dd>
            <h2>Dokument</h2>
            <table class="table">
                <tr class="alert-info">
                    <th>Namn</th>
                    <th>Epost</th>
                    
                </tr>
                @foreach (var doc in Model.Documents)
                {
                    <tr>
                        <td><a href="" >@doc.Name.Substring(0, 10)</a></td>
                        <td>@doc.User.UserName</td>
                    </tr>
                }
            </table>
        </dd>

    </dl>

    <dd>
        <h3>Aktiviteter</h3>
        <table class="table">
            <tr class="alert-info">
                <th>Namn</th>
                <th>Start</th>
                <th>Slut</th>
            </tr>
            @foreach (var module in Model.Activities)
            {
                <tr>
                    <td>@Html.ActionLink(module.Name, "Details", "Activities", new { id = module.Id }, null)</td>
                    <td>@Html.DisplayFor(model => module.StartDate)</td>
                    <td>@Html.DisplayFor(model => module.EndDate)</td>
                </tr>
            }
        </table>
    </dd>
</div>
<p>
    @Html.ActionLink("Registera ny aktivitet", "Create", "Activities", new { @moduleId = Model.Id}, null)
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
