@model Laja.Models.Course

@{
    ViewBag.Title = "Lärare";
}
<h2>Lärare</h2>
<div>
    <hr />
    <div class="container">
        <div class="col-md-2">
            <b> @Html.DisplayNameFor(model => model.Name)</b>
            <p>@Html.DisplayFor(model => model.Name)</p>
        </div>
        <div class="col-md-6">
            <b> @Html.DisplayNameFor(model => model.Description)</b>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.StartDate)</b>
            <p>@Html.DisplayFor(model => model.StartDate)</p>
        </div>
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.EndDate)</b>
            <p>@Html.DisplayFor(model => model.EndDate)</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>@Html.ActionLink("Redigera Kurs >>", "Edit", "Courses", new { id = Model.Id }, null)</p>
            </div>
            <div class="row">
                <p><br /></p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active" role="presentation"><a role="tab" aria-controls="home" href="#Section1" data-toggle="tab">Moduler <img style="width:20px; height:20px;" src="~/Images/Module.png" /></a></li>
                            <li role="presentation"><a role="tab" aria-controls="Students" href="#Section2" data-toggle="tab">Elever <img style="width:20px; height:20px;" src="~/Images/Student.png" /></a></li>
                            <li role="presentation"><a role="tab" aria-controls="Documents" href="#Section3" data-toggle="tab">Dokument <img style="width:20px; height:20px;" src="~/Images/Doc.ico" /></a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabs">
                            <div class="tab-pane fade in active" id="Section1" role="tabpanel">
                                <h3></h3>
                                <div class="col-md-12">
                                    <p>@Html.ActionLink("Registrera Modul >>", "Create", "Modules", new { courseId = Model.Id }, null)</p>
                                </div>
                                <div class="panel-group" id="accordionCourse" role="tablist" aria-multiselectable="true">
                                    @foreach (var module in Model.Modules)
                                    {
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="@($"heading{module.Id.ToString()}")">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@($"collapse{module.Id.ToString()}")" aria-expanded="false" aria-controls="@($"collapse{module.Id.ToString()}")">
                                                        @module.Name <span class="badge">@module.Activities.Count()</span>
                                                        <img style="width:20px; height:20px;" src="~/Images/Activity.png" /> | <span class="badge">@module.Documents.Count()</span>
                                                        <img style="width:20px; height:20px;" src="~/Images/Doc.ico" />
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="@($"collapse{module.Id.ToString()}")" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="@($"heading{module.Id.ToString()}")">
                                                <div class="panel-body">
                                                    <div class="col-md-2">
                                                        <b>@Html.DisplayNameFor(model => module.Name)</b>
                                                        <p>@Html.DisplayFor(model => module.Name)</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <b> @Html.DisplayNameFor(model => module.Description)</b>
                                                        <p>@Html.DisplayFor(model => module.Description)</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <b>@Html.DisplayNameFor(model => module.StartDate)</b>
                                                        <p>@Html.DisplayFor(model => module.StartDate)</p>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <b>@Html.DisplayNameFor(model => module.EndDate)</b>
                                                        <p>@Html.DisplayFor(model => module.EndDate)</p>
                                                    </div>
                                                    <div class="col-md-12">
                                                        @{
                                                            if (module.Documents.Count > 0)
                                                            {
                                                                <h4 class="panel-title">Dokument</h4>
                                                                <div class="col-md-12">
                                                                    @foreach (var doc in module.Documents)
                                                                    {
                                                                        @Html.Partial("_DocumentsList", doc);
                                                                    }
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                    <!-- Module tab go -->
                                                    <p><br /> <br /><br /></p>
                                                    <div class="col-md-12">
                                                        <p>
                                                            @Html.ActionLink("Registrera aktivitet >>", "Create", "Activities", new { moduleId = module.Id }, null)  |
                                                            @Html.ActionLink("Registrera Dokument >>", "Create", "Documents", new { id = module.Id, c = "module" }, null)
                                                        </p>
                                                    </div>
                                                    @{
                                                        if (module.Activities.Count > 0)
                                                        {
                                                            <h4><b>Aktiviteter</b></h4>
                                                            <div class="col-md-12">
                                                                <div class="col-md-2">
                                                                    <b>Name</b>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <b>Beskrivning</b>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <b>DeadLine</b>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <b>Startdatum</b>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <b>Slutdatum</b>
                                                                </div>
                                                                <div class="panel-body">

                                                                    @foreach (var activity in module.Activities)
                                                                    {
                                                                        <div class="col-md-2">
                                                                            @*<b>@Html.DisplayNameFor(model => activity.Name)</b>*@
                                                                            <p>@Html.DisplayFor(model => activity.Name)</p>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            @* <b> @Html.DisplayNameFor(model => activity.Description)</b>*@
                                                                            <p>@Html.DisplayFor(model => activity.Description)</p>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            @*<b>@Html.DisplayNameFor(model => activity.StartDate)</b>*@
                                                                            <p>@Html.DisplayFor(model => activity.DeadLine)</p>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            @*<b>@Html.DisplayNameFor(model => activity.StartDate)</b>*@
                                                                            <p>@Html.DisplayFor(model => activity.StartDate)</p>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            @*<b>@Html.DisplayNameFor(model => activity.EndDate)</b>*@
                                                                            <p>@Html.DisplayFor(model => activity.EndDate)</p>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            <p>
                                                                                @Html.ActionLink("Ladda dokument >>", "Create", "Documents", new { id = activity.Id, c = "activity" }, null)
                                                                                @Html.ActionLink("Redigera aktivitet >>", "Edit", "Activities", new { id = activity.Id }, null)
                                                                            </p>
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            @{
                                                                                if (activity.DeadLine != null)
                                                                                {
                                                                                    @Html.Partial("_ActivityStatus", activity);
                                                                                    @Html.ActionLink("Ladda upp fil", "Create", "Documents", new { id = activity.Id, c = "activity", }, null)

                                                                                }
                                                                            }
                                                                        </div>
                                                                        <div class="col-md-12">
                                                                            @{
                                                                                if (@activity.Documents.Count > 0)
                                                                                {
                                                                                    <h4 class="panel-title">Dokument</h4>
                                                                                    <div class="col-md-12">
                                                                                        @foreach (var doc in activity.Documents)
                                                                                        {
                                                                                            @Html.Partial("_DocumentsList", doc);
                                                                                        }
                                                                                    </div>
                                                                                }
                                                                            }
                                                                        </div>
                                                                                }
                                                                </div>
                                                            </div>
                                                                                }
                                                    }
                                                    <!-- Module tab stop -->
                                                </div>
                                            </div>
                                        </div>
                                                                                }
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Section2" role="tabpanel">
                                <h3<br /></h3>
                                <div class="col-md-12">
                                    <div class="row">
                                        @foreach (var student in Model.Students)
                                        {
                                            <div class="col-sm-3 col-md-3">
                                                <div class="red-banner"></div>
                                                <div class="table-bordered text-center">
                                                    <div class="round-icon-img green-back">
                                                        @{
                                                            string[] initialsName = new string[] { student.FirstName, student.LastName };
                                                            String initials = String.Join(" ", initialsName.Select(i => i[0].ToString()).ToArray());
                                                        }
                                                        @initials
                                                    </div>
                                                    <div class="caption">
                                                        <h4>@student.FirstName @student.LastName</h4>
                                                        <p>@student.Email</p>
                                                        @*<p><a href="#" class="btn btn-primary" role="button">Button</a></p>*@
                                                    </div>
                                                </div>
                                            </div>
                                                            }
                                    </div>
                                    <p>@Html.ActionLink("Registrera Elev för kurs: " + Model.Name + " >>", "Create", "User", new { courseId = Model.Id, role = "Elev" }, null)</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Section3" role="tabpanel">
                                <h3>Document</h3>
                                <div class="col-md-12">
                                    @foreach (var doc in Model.Documents)
                                    {
                                        @Html.Partial("_DocumentsList", doc);
                                    }
                                </div>
                                <p>@Html.ActionLink("Ladda dokument >>", "Create", "Documents", new { id = Model.Id, c = "course" }, null)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>