@model Laja.Models.Course

@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>
<p class="alert-danger"> @TempData["d"]</p>
<div>
    <h4>Course</h4>
    <hr />
    <div class="container">
        <div class="col-md-2">
            <b> @Html.DisplayNameFor(model => model.Name)</b>
            <p>@Html.DisplayFor(model => model.Name)</p>
        </div>
        <div class="col-md-6">
            <b> @Html.DisplayNameFor(model => model.Description)</b>
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.StartDate)</b>
            <p>@Html.DisplayFor(model => model.StartDate)</p>
        </div>
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.EndDate)</b>
            <p>@Html.DisplayFor(model => model.EndDate)</p>
        </div>
        <div class="row">
            <p><br /> <br /><br /></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" role="presentation"><a role="tab" aria-controls="home" href="#Section1" data-toggle="tab">Moduler</a></li>
                        <li role="presentation"><a role="tab" aria-controls="Students" href="#Section2" data-toggle="tab">Elever</a></li>
                        <li role="presentation"><a role="tab" aria-controls="Documents" href="#Section3" data-toggle="tab">Dokument</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs">
                        <div class="tab-pane fade in active" id="Section1" role="tabpanel">
                            <h3>Moduler</h3>
                            <div class="panel-group" id="accordionCourse" role="tablist" aria-multiselectable="true">

                                @foreach (var module in Model.Modules)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="@($"heading{module.Id.ToString()}")">
                                            <h4 class="panel-title">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@($"collapse{module.Id.ToString()}")" aria-expanded="false" aria-controls="@($"collapse{module.Id.ToString()}")">
                                                    @module.Name <span class="badge">@module.Activities.Count()</span>
                                                    <img style="width:20px; height:20px;" src="~/Images/Activity.png" /> | <span class="badge">@module.Documents.Count()</span>
                                                    <img style="width:20px; height:20px;" src="~/Images/Doc.ico" />
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="@($"collapse{module.Id.ToString()}")" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="@($"heading{module.Id.ToString()}")">
                                            <div class="panel-body">

                                                <div class="col-md-2">
                                                    <b>@Html.DisplayNameFor(model => module.Name)</b>
                                                    <p>@Html.DisplayFor(model => module.Name)</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <b> @Html.DisplayNameFor(model => module.Description)</b>
                                                    <p>@Html.DisplayFor(model => module.Description)</p>
                                                </div>
                                                <div class="col-md-2">
                                                    <b>@Html.DisplayNameFor(model => module.StartDate)</b>
                                                    <p>@Html.DisplayFor(model => module.StartDate)</p>
                                                </div>
                                                <div class="col-md-2">
                                                    <b>@Html.DisplayNameFor(model => module.EndDate)</b>
                                                    <p>@Html.DisplayFor(model => module.EndDate)</p>
                                                </div>
                                                <p>@Html.ActionLink("Ladda upp fil", "Create", "Documents", new { id = module.Id, c="module" }, null)</p>
                                                <div class="col-md-12">
                                                    @{
                                                        if (module.Documents.Count > 0)
                                                        {
                                                            <h4  class="panel-title">Dokument</h4>
                                                                                                <div class="col-md-12">
                                                                                                    @foreach (var doc in module.Documents)
                                                                                                    {
                                                                                               <!-- Afram's code here-->
                                                                                                        if (User.Identity.Name == doc.User.UserName)
                                                                                                        {
                                                                                                            var fileName = @doc.FileName.Substring(0, @doc.FileName.IndexOf('_')).ToString();
                                                                                                            <div class="col-md-2">
                                                                                                                <a href="@doc.Name" download="@fileName">@doc.FileName.Substring(0, @doc.FileName.IndexOf('_'))</a>
                                                                                                            </div>
                                                                                                        }

                                                                                                    }
                                                                                                </div>

                                                        }
                                                    }
                                                </div>

                                                <!-- Module tab go -->
                                                <p><br /> <br /><br /></p>
                                                @{
                                                    if (module.Activities.Count > 0)
                                                    {
                                                        <h4 class="panel-title">Aktiviteter</h4>
                                                        <div class="col-md-12">
                                                            <div class="col-md-2">
                                                                <b>Name</b>

                                                            </div>
                                                            <div class="col-md-6">
                                                                <b>Beskrivning</b>

                                                            </div>
                                                            <div class="col-md-2">
                                                                <b>Startdatum</b>

                                                            </div>
                                                            <div class="col-md-2">
                                                                <b>Slutdatum</b>
                                                            </div>
                                                            <div class="panel-body">



                                                                @foreach (var activity in module.Activities)
                                                                {

                                                                    <div class="col-md-2">
                                                                        @*<b>@Html.DisplayNameFor(model => activity.Name)</b>*@
                                                                        <p>@Html.DisplayFor(model => activity.Name)</p>
                                                                    </div>
                                                                        <div class="col-md-6">
                                                                            @* <b> @Html.DisplayNameFor(model => activity.Description)</b>*@
                                                                            <p>@Html.DisplayFor(model => activity.Description)</p>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            @*<b>@Html.DisplayNameFor(model => activity.StartDate)</b>*@
                                                                            <p>@Html.DisplayFor(model => activity.StartDate)</p>
                                                                        </div>
                                                                        <div class="col-md-2">
                                                                            @*<b>@Html.DisplayNameFor(model => activity.EndDate)</b>*@
                                                                            <p>@Html.DisplayFor(model => activity.EndDate)</p>
                                                                        </div>
                                                                        <p>@Html.ActionLink("Ladda upp fil", "Create", "Documents", new { id = activity.Id, c = "activity" }, null)</p>
                                                                        <div class="col-md-12">
                                                                            @{

                                                                                if (activity.DeadLine != null)
                                                                                {
                                                                                <!-- Aframs code here -->

                                                                                    var days = 0;// activity.DeadLine.Value.Subtract(DateTime.Now).Days;
                                                                                    var hours = activity.DeadLine.Value.Subtract(DateTime.Now).Hours;
                                                                                    var min = activity.DeadLine.Value.Subtract(DateTime.Now).Minutes;
                                                                                    <b>Tid kvar - Inlämningsuppgift</b>
                                                                                    if (days == 0)
                                                                                    {
                                                                                       
                                                                                        if (User.Identity.Name==TempData["currentUser"].ToString())
                                                                                        {

                                                                                            TempData.Remove("d");
                                                                                            TempData.Add("d", "Du har en eller flera inlämningsuppgifter kvar att göra!!");
                                                                                        }
                                                                                        <p class="alert-danger">Dag: @days  Tim: @hours  Min: @min </p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p class="alert-info">Dag: @days  Tim: @hours  Min: @min </p>
                                                                                    }

                                                                                    <b>Fil Inlämning</b>
                                                                                            <p>@Html.ActionLink("Ladda upp fil", "Create", "Documents", new {id=activity.Id, c="activity"  },null)</p>

                                                                                    
                                                                                }
                                                                            }
                                                                        </div>
                                                                                    <div class="col-md-12">
                                                                                        @{
                                                                                            if (@activity.Documents.Count > 0)
                                                                                            {
                                                                                                <h4 class="panel-title">Dokument</h4>
                                                                                                <div class="col-md-12">
                                                                                                    @foreach (var doc in activity.Documents)
                                                                                                    {
                                                                                               <!-- Afram's code here-->
                                                                                                        if (User.Identity.Name == doc.User.UserName)
                                                                                                        {
                                                                                                            var fileName = @doc.FileName.Substring(0, @doc.FileName.IndexOf('_')).ToString();
                                                                                                            <div class="col-md-2">
                                                                                                                <a href="@doc.Name" download="@fileName">@doc.FileName.Substring(0, @doc.FileName.IndexOf('_'))</a>                                                                                                               
                                                                                                            </div>
                                                                                                        }

                                                                                                    }
                                                                                                </div>

                                                                                            }
                                                                                        }
                                                                                    </div>


                                                                                            }
                                                            </div>

                                                        </div>
                                                                                            }
                                                }

                                                <!-- Module tab stop -->
                                            </div>
                                        </div>
                                    </div>
                                                                                            }

                            </div>

                        </div>
                        <div class="tab-pane fade" id="Section2" role="tabpanel">
                            <h3>Elever</h3>
                                @{
                                 <div class="row">
                                 @foreach (var student in Model.Students)
                                 {
                                    <div class="col-sm-6 col-md-4">
                                        <div class="thumbnail">
                                        <img src="..." alt="...">
                                            <div class="caption">
                                                <h4>@student.FirstName @student.LastName</h4>
                                                <p>@student.Email</p>
                                                 @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
                                            </div>
                                        </div>
                                    </div>
                                 }

                                </div>
                                    }
                              </div>
                          <div class="tab-pane fade" id="Section3" role="tabpanel">
                                <h3>Dokument</h3>
                              <div class="col-md-12">
                                  @foreach (var doc in Model.Documents)
                                  {
                                                                                               <!-- Afram's code here-->
                                      if (User.Identity.Name == doc.User.UserName)
                                      {
                                          var fileName = @doc.FileName.Substring(0, @doc.FileName.IndexOf('_')).ToString();
                                          <div class="col-md-2">
                                              <a href="@doc.Name" download="@fileName">@doc.FileName.Substring(0, @doc.FileName.IndexOf('_'))</a>
                                          </div>
                                      }

                                  }
                              </div>

                              <p>@Html.ActionLink("Ladda dokument >>", "Create", "Documents", new { id = Model.Id, c = "course" }, null)</p>

                                </div>
                            </div>
                        </div>
                     </div>
          </div>
         </div>
     </div>
