<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
@model Laja.Models.Course

@{
    ViewBag.Title = "Kursöversikt Elev";
}


<p class="alert-danger"> @TempData["d"]</p>
<div>
    <hr />
    <div class="container">
        <div class="lead">
            <div class="col-md-2">
                @*<b> @Html.DisplayNameFor(model => model.Description)</b>*@
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="col-md-6">
                @*<b> @Html.DisplayNameFor(model => model.Description)</b>*@
                <p>@Html.DisplayFor(model => model.Description)</p>
            </div>
            <div class="col-md-4">
                @*<b>@Html.DisplayNameFor(model => model.StartDate)</b>*@
                <p>@Html.DisplayFor(model => model.StartDate)&nbsp;  »» &nbsp;@Html.DisplayFor(model => model.EndDate)</p>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-md-12">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="active" role="presentation"><a role="tab" aria-controls="home" href="#Section1" data-toggle="tab">Moduler <img style="width:25px; height:25px;" src="~/Images/Modules.jpg" /></a></li>
                        <li role="presentation"><a role="tab" aria-controls="Students" href="#Section2" data-toggle="tab">Elever <img style="width:25px; height:25px;" src="~/Images/Student.png" /></a></li>
                        <li role="presentation"><a role="tab" aria-controls="Documents" href="#Section3" data-toggle="tab">Dokument <img style="width:25px; height:25px;" src="~/Images/Doc.ico" /></a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabs">
                        <div class="tab-pane fade in active" id="Section1" role="tabpanel">
                            <h3></h3>
                            <div class="panel-group" id="accordionCourse" role="tablist" aria-multiselectable="true">

                                @foreach (var module in Model.Modules)
                            {

                                var activeModule = "";
                                var activeModuleStyle = "";
                                var activeModuleClass = "";
                                if (module.StartDate < System.DateTime.Today && module.EndDate > System.DateTime.Today)
                                {
                                    activeModule = " in";
                                    activeModuleClass = "class= glyphicon-asterisk";
                                    activeModuleStyle = "style= color:green;";
                                }
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="@($"heading{module.Id.ToString()}")">
                                        <div class="panel-title" style="height:20px;">
                                            <div class="col-md-4" style="padding-left:1px;">
                                                <a role="button" style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" href="#@($"collapse{module.Id.ToString()}")" aria-expanded="false" aria-controls="@($"collapse{module.Id.ToString()}")">
                                                    <span @activeModuleClass @activeModuleStyle> @module.Name </span>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <span> @module.StartDate.ToShortDateString() </span>&nbsp; »»&nbsp; <span> @module.EndDate.ToShortDateString() </span>
                                            </div>
                                            <div class="col-md-4">

                                                <img style="width:25px; height:25px;" src="~/Images/Activity.png" /> Aktiviteter &nbsp;<span class="badge">@module.Activities.Count()</span>&nbsp;&nbsp;
                                                <img style="width:25px; height:25px;" src="~/Images/Doc.ico" />Dokument &nbsp;<span class="badge">@module.Documents.Count()</span>


                                            </div>
                                        </div>
                                    </div>
                                    <div id="@($"collapse{module.Id.ToString()}")" class="panel-collapse collapse out @activeModule" role="tabpanel" aria-labelledby="@($"heading{module.Id.ToString()}")">
                                        <div class="panel-body">
                                            <div class="col-md-12" style="padding-left:1px;">
                                                <b> Beskrivning: </b>
                                                @Html.DisplayFor(model => module.Description)
                                            </div>
                                            <div class="col-md-12">
                                                @{
                                                if (module.Documents.Count > 0)
                                                {
                                                    <br />
                                                    <h4 class="panel-title">Dokument</h4>
                                                    <div class="col-md-12">
                                                        @foreach (var doc in module.Documents)
                                                    {
                                                        @Html.Partial("_DocumentsList", doc);
                                                }
                                                    </div>
                                            }
                                                }
                                            </div>
                                            <!-- Module tab go -->
                                            <p><br /><br /></p>
                                            @{
                                            if (module.Activities.Count > 0)
                                            {
                                                <br />
                                                <h4 class="panel-title">Aktiviteter</h4>
                                                <div class="col-md-12">
                                                    @*<div class="col-md-4" style="padding-left:1px;">
                                                        <b>Name</b>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <b>DeadLine</b>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <b>Startdatum</b>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <b>Slutdatum</b>
                                                    </div>*@
                                                    <div class="panel-body panel-info" style="padding-left:0px;">
                                                        @foreach (var activity in module.Activities.OrderBy(a => a.StartDate))
                                                    {
                                                        <div class="panel panel-info col-md-12 ">
                                                            <div class="row col-md-12">
                                                                <div class="col-md-4" style="padding-left:1px;">
                                                                    @*<b>@Html.DisplayNameFor(model => activity.Name)</b>*@
                                                                    <p>@Html.DisplayFor(model => activity.Name)</p>
                                                                </div>

                                                                <div class="col-md-3">
                                                                    @*<b>@Html.DisplayNameFor(model => activity.StartDate)</b>*@

                                                                    <span> @activity.StartDate.ToShortDateString() </span>&nbsp; »»&nbsp; <span> @activity.EndDate.ToShortDateString()</span>
                                                                </div>


                                                                <div class="col-md-5">
                                                                    @*<b>@Html.DisplayNameFor(model => activity.StartDate)</b>*@
                                                                    @*<p>@Html.DisplayFor(model => activity.DeadLine)</p>*@
                                                                    @{if (activity.DeadLine != null)
                                                                    {
                                                                        <img style="width:25px; height:25px;" src="~/Images/Deadline.png" alt="Deadline" title="Deadline" /> @Html.DisplayFor(model => activity.DeadLine)
                                                                        @Html.Partial("_ActivityStatus", activity);
                                                                }
                                                                    }

                                                                </div>

                                                            </div>

                                                            <div class="col-md-12" style="padding-left:1px;">
                                                                <div class="col-md-7">
                                                                    @*<b> Beskrivning: </b>*@
                                                                    @Html.DisplayFor(model => activity.Description)
                                                                </div>
                                                                <div class="col-md-5">
                                                                    @{
                                                                    if (activity.DeadLine != null)
                                                                    {
                                                                        @*@Html.Partial("_ActivityStatus", activity);*@
                                                                        @*<b>Fil Inlämning</b>*@
                                                                        @Html.ActionLink("Ladda upp inlämningsuppgift", "Create", "Documents", new { id = activity.Id, c = "activity", }, new { @class = "glyphicon glyphicon-plus" })
                                                                }
                                                                    }
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12" style="padding-left:0px;">
                                                                @{
                                                                if (activity.Documents.Count > 0)
                                                                {
                                                                    <hr />
                                                                    <h6 class="panel-title">Dokument</h6>

                                                                    <div class="col-md-12" style="padding-left:1px;">
                                                                        @foreach (var doc in activity.Documents)
                                                                    {
                                                                        @Html.Partial("_DocumentsList", doc)
                                                                }
                                                                    </div>
                                                            }
                                                                }
                                                            </div>
                                                        </div>

                                                }
                                                    </div>
                                                </div>
                                        }
                                            }
                                            <!-- Module tab stop -->
                                        </div>
                                    </div>
                                </div>
                        }
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Section2" role="tabpanel">
                            <h3>Elever</h3>
                            @{
                                <div class="row">
                                    @foreach (var student in Model.Students)
                                {
                                    <div class="col-sm-3 col-md-3">
                                        <div class="red-banner"></div>
                                        <div class="table-bordered text-center">
                                            <div class="round-icon-img green-back">
                                                @{
                                                string[] initialsName = new string[] { student.FirstName, student.LastName };
                                                String initials = String.Join(" ", initialsName.Select(i => i[0].ToString()).ToArray());
                                                }
                                                @initials
                                            </div>
                                            <div class="caption">
                                                <h4>@student.FirstName @student.LastName</h4>
                                                <p>@student.Email</p>
                                                @*<p><a href="#" class="btn btn-primary" role="button">Button</a></p>*@
                                            </div>
                                        </div>
                                    </div>
                            }
                                </div>
                            }
                        </div>
                        <div class="tab-pane fade" id="Section3" role="tabpanel">
                            @*<h4>Dokument</h4>*@
                            <div class="col-md-12">
                                <p>@Html.ActionLink("Dokument", "Create", "Documents", new { id = Model.Id, c = "course" }, new { @class = "glyphicon glyphicon-plus" })</p>
                                @foreach (var doc in Model.Documents)
    {
                            @Html.Partial("_DocumentsList", doc);
}
                            </div>

                            @*@Html.ActionLink("Ladda dokument >>", "Create", "Documents", new { id = Model.Id, c = "course" }, null)*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>