@model Laja.Models.Course

@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>

<div>
    <h4>Course</h4>
    <hr />
    <div class="container">
        <div class="col-md-2">
            <b> @Html.DisplayNameFor(model => model.Name)</b>
        </div>
        <div class="col-md-6">
            <b> @Html.DisplayNameFor(model => model.Description)</b>
         </div>
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.StartDate)</b>
        </div>
        <div class="col-md-2">
            <b>@Html.DisplayNameFor(model => model.EndDate)</b>
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.StartDate)
        </div>
        <div class="col-md-2">
            @Html.DisplayFor(model => model.EndDate)
        </div>

      
        <div class="row">
            <p><br /> <br /></p><p><br /> <br /></p>
        </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="tab" role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active" role="presentation"><a role="tab" aria-controls="home" href="#Section1" data-toggle="tab">Moduler</a></li>
                            <li role="presentation"><a role="tab" aria-controls="Students" href="#Section2" data-toggle="tab">Elever</a></li>
                            <li role="presentation"><a role="tab" aria-controls="Documents" href="#Section3" data-toggle="tab">Dokument</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabs">
                            <div class="tab-pane fade in active" id="Section1" role="tabpanel">
                                <h3>Moduler</h3>
                                @{
                                    <ul>
                                        @foreach (var module in Model.Modules)
                                        {
                                            <li>@module.Name</li>
                                        }
                                    </ul>
                                }
                            </div>
                            <div class="tab-pane fade" id="Section2" role="tabpanel">
                                <h3>Elever</h3>
                                @{ 
                                    <div class="row">
                                        @foreach (var student in Model.Students)
                                        {                                            
                                                <div class="col-sm-6 col-md-4">
                                                    <div class="thumbnail">
                                                        <img src="..." alt="...">
                                                        <div class="caption">
                                                            <h4>@student.FirstName @student.LastName</h4>
                                                            <p>@student.Email</p>
                                                            @*<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>*@
                                                        </div>
                                                    </div>
                                                </div>                                            
                                         }
                                    </div>
                                }

                            </div>
                            <div class="tab-pane fade" id="Section3" role="tabpanel">
                                <h3>Dokument</h3>

                                <div class="list-group">
                                    @foreach (var doc in Model.Documents)
                                    {
                                        <a href="@doc.Name" class="list-group-item">@doc.Description</a>
                                    }

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
