@model Laja.Models.Activity

<table class="table">
    <tr class="alert-info">
        <th>Namn</th>
        <th>Beskrivning</th>
        <th>Start</th>
        <th>Slut</th>


    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayFor(model => model.Description)
        </td>
        <td>
            @Html.DisplayFor(model => model.StartDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.EndDate)
        </td>
    </tr>
</table>
<ul class="nav nav-tabs" active>
    
    <li role="presentation" class="active">
        <a href="#">Dokument <span class="badge">@Model.Documents.Count</span></a>
        <div id="Dokument">

            @{
                if (Model.Documents.Count > 0)
                {
                    <table class="table">
                        <tr class="alert-info">
                            <th>Namn</th>
                            <th>Beskrivning</th>

                        </tr>
                        @foreach (var doc in Model.Documents)
                {
                            <tr>
                                <td>@doc.Name</td>
                                <td>@doc.Description</td>
                            </tr>
                        }
                    </table>
                }

            }
        </div>

    </li>
</ul>