@Html.Action("ActivityHasDocuments", "Documents", new { activity= Model })

<b>Tid kvar - Inlämningsuppgift</b>
@{

    if (TempData["days"] != null)
    {
<p class="alert-info">Dag: @TempData["days"]  Tim: @TempData["hours"]  Min: @TempData["min"] </p>
    }
    else
    {

<p class="alert-danger">Tim: @TempData["hoursR"]  Min: @TempData["minR"] </p>
        }                                                                                
    }